<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<title> Product App </title>
</head>

<body>

	<div id="app">
	
	<div class="product-image">
		<a href="https://www.vuemastery.com/courses/intro-to-vue-js/attribute-binding"><img :src="image"></a>
	</div>
	
	<div class="product-info">
		<h1>{{product}}</h1>
		<p v-if="onSale">ON SALE!!</p>
		<p v-if="inventory > 10">In Stock</p>
		<p v-else-if="inventory <= 10 && inventory > 0">Almost out of Stock!</p>
		<p v-else>Out of Stock</p>
		<h2> These {{product}} will surely keep your feet warm. </h2>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>